@media (max-width: 767px){
   footer{
    align-self: flex-end;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: white;
    font-weight: 300;
    font-size: 13px;
    padding-bottom: 30px;
}

.text-footer{
    width: 80% !important;
    display: flex;
    justify-content: space-between;
}

.text-footer>div{
    display: flex;
}

.text-footer>div>div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 15px 10px 0px;
}

.text-footer a{
    color: white;
    font-size: 10px;
    text-decoration: none;
    transition: 0.2s;
    text-align: center;
    padding-top: 1px;
}

#perguntasFrequentes{
    margin-left: 1px;
    font-size: 9px;
    text-align: start;
}

#footerSocial{
    margin-right: 4px;
}

.text-footer a:hover{
    color: #0024B4;
}

.text-footer img{
    height: 1em;
    margin-right: 5px;
}

footer #lineFooter{
    background-color: rgba(255, 255, 255, 0.438);
    width: 80% !important;
    margin: 5px 0px 5px 0px;
    height: 1px;
}

#credits{
    font-size: 10px;
} 
}

/*pc hd*/
@media (max-width: 1700px) {

footer{
    align-self: flex-end;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: white;
    font-weight: 300;
    font-size: 13px;
    margin-bottom: 5px;
}

.text-footer{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.text-footer>div{
    display: flex;
}

.text-footer>div>div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 15px 10px 0px;
}

.text-footer a{
    color: white;
    text-decoration: none;
    transition: 0.2s;
    text-align: center;
    padding-top: 1px;
}

#perguntasFrequentes{
    margin-left: 5px;
}

#footerSocial{
    margin-right: 4
    
    px;
}

.text-footer a:hover{
    color: #0024B4;
}

.text-footer img{
    height: 1em;
    margin-right: 5px;
}

footer #lineFooter{
    background-color: rgba(255, 255, 255, 0.438);
    width: 60%;
    height: 1px;
}

#credits{
    font-size: 10px;
}
}

/*pc full hd*/

@media (min-width: 1700px) {

footer{
    align-self: flex-end;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: white;
    font-weight: 300;
    font-size: 17px;
    margin-bottom: 5px;
}

.text-footer{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.text-footer>div{
    display: flex;
}

.text-footer>div>div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 15px 10px 0px;
}

.text-footer a{
    color: white;
    text-decoration: none;
    transition: 0.2s;
    text-align: center;
    padding-top: 1px;
}

#perguntasFrequentes{
    margin-left: 5px;
}

#footerSocial{
    margin-right: 4
    
    px;
}

.text-footer a:hover{
    color: #0024B4;
}

.text-footer img{
    height: 1em;
    margin-right: 5px;
}

footer #lineFooter{
    background-color: rgba(255, 255, 255, 0.438);
    width: 60%;
    height: 1px;
}

#credits{
    font-size: 13px;
}
}