*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: poppins;
    box-sizing: border-box;
}

.mobile-menu{
    cursor: pointer;
    display: none;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background:#FFF;
    margin: 8px 15px;
    transition: 0.3s;
}

/*Mobile*/
@media (max-width: 767px){
    #logo{
        margin: 5px 0px 0px 12px;
        width: 4em;
    }
    html {
        scroll-behavior: smooth;
    }  
    
    body{
        overflow-x: hidden;
        background-color: #030B1A;
    }
    
    
    main{
        padding-top: 60px;
    }
    
    header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #030F27;
        z-index: 1000;
    }
    
.navBarHeader ul{
    position: absolute;
    top: 79.74px;
    right: 0;
    width: 75vw;
    height: 100vh;
    background-color: #030F27;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 100px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
}

.navBarHeader ul.active{
    transform: translateX(0);
}

.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2{
    opacity: 0;
}

.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.navBarHeader ul>a{
    text-decoration: none;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    opacity: 0;
}

.mobile-menu{
    display: block;
}

.navBarHeader-2metade>a{
    margin-right: 10px;
    display: none;
}


.navBarHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navBarHeader-2metade{
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}


.navBarHeader li>img{
    width: 20px;
    margin: 0px 5px 0px 0px;
    align-self: center;
    justify-self: center;
}

#imgHome{
    width: 15px;
    margin: 0px 7px 4px 0px;
}

#imgSobre{
    width: 18px;
}


.navBarHeader li{
    display: flex;
    justify-content: center;
}

#iconPerfil{
    background-color: rgba(217, 217, 217, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 4px 8px 6px;
    border-radius: 50%;
    transition: 0.2s;
}

#linkPerfil{
    display: none;
}

#iconPerfil2{
    background-color: rgba(217, 217, 217, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px 10px 10px;
    border-radius: 50%;
    transition: 0.2s;
}

#iconPerfil2 img{
    width: 23px;
}

#iconPerfil2:hover{
    background-color: rgba(217, 217, 217, 0.151);
}

#iconPerfil:hover{
    background-color: rgba(217, 217, 217, 0.151);
}

#iconPerfil a{
    display: flex;
    justify-content: center;
    align-items: center;
}

#iconPerfil img{
    height: 1.7em;
}
}

/*Tablets*/
@media (max-width: 1024px) and (min-width: 768px) {
 
html {
    scroll-behavior: smooth;
}  

body{
    overflow-x: hidden;
    background-color: #030B1A;
}


main{
    padding-top: 60px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #030F27;
    z-index: 1000;
}

.navBarHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 40px 0px 20px;
}

.navBarHeader-2metade{
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

#logo{
    margin-top: 5px;
    width: 4em;
}

.navBarHeader ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.navBarHeader li{
    background-color: rgba(217, 217, 217, 0.048);
    padding: 2px 8px;
    border-radius: 20px;
    transition: 0.2s;
}

.navBarHeader li:hover{
    background-color: rgba(217, 217, 217, 0.151);
}

.navBarHeader li>img{
    width: 20px;
    margin: 0px 5px 0px 0px;
    align-self: center;
    justify-self: center;
}

#imgHome{
    width: 15px;
    margin: 0px 7px 4px 0px;
}

#imgSobre{
    width: 18px;
}

.navBarHeader a{
    text-decoration: none;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.navBarHeader li{
    display: flex;
    align-items: center;
}

#iconPerfil{
    background-color: rgba(217, 217, 217, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 4px 8px 6px;
    border-radius: 50%;
    transition: 0.2s;
}

#linkPerfil{
    display: none;
}

#iconPerfil2{
    background-color: rgba(217, 217, 217, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px 10px 10px;
    border-radius: 50%;
    transition: 0.2s;
}

#iconPerfil2 img{
    width: 23px;
}

#iconPerfil2:hover{
    background-color: rgba(217, 217, 217, 0.151);
}

#iconPerfil:hover{
    background-color: rgba(217, 217, 217, 0.151);
}

#iconPerfil a{
    display: flex;
    justify-content: center;
    align-items: center;
}

#iconPerfil img{
    height: 1.7em;
}
}

/*Pc hd*/
@media (max-width: 1700px) and (min-width: 1024px) {

html {
    scroll-behavior: smooth;
}  

body{
    overflow-x: hidden;
    background-color: #030B1A;
}


main{
    padding-top: 60px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #030F27;
    z-index: 1000;
}

.navBarHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 40px 0px 20px;
}

.navBarHeader-2metade{
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

#logo{
    margin-top: 5px;
    width: 4em;
}

.navBarHeader ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.navBarHeader li{
    background-color: rgba(217, 217, 217, 0.048);
    padding: 2px 8px;
    border-radius: 20px;
    transition: 0.2s;
}

.navBarHeader li:hover{
    background-color: rgba(217, 217, 217, 0.151);
}

.navBarHeader li>img{
    width: 20px;
    margin: 0px 5px 0px 0px;
    align-self: center;
    justify-self: center;
}

#imgHome{
    width: 15px;
    margin: 0px 7px 4px 0px;
}

#imgSobre{
    width: 18px;
}

.navBarHeader a{
    text-decoration: none;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.navBarHeader li{
    display: flex;
    align-items: center;
}

#iconPerfil{
    background-color: rgba(217, 217, 217, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 4px 8px 6px;
    border-radius: 50%;
    transition: 0.2s;
}

#linkPerfil{
    display: none;
}

#iconPerfil2{
    background-color: rgba(217, 217, 217, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px 10px 10px;
    border-radius: 50%;
    transition: 0.2s;
}

#iconPerfil2 img{
    width: 23px;
}

#iconPerfil2:hover{
    background-color: rgba(217, 217, 217, 0.151);
}

#iconPerfil:hover{
    background-color: rgba(217, 217, 217, 0.151);
}

#iconPerfil a{
    display: flex;
    justify-content: center;
    align-items: center;
}

#iconPerfil img{
    height: 1.7em;
}

}

/*PC full hd*/

@media (min-width: 1700px) {

html {
    scroll-behavior: smooth;
}  

body{
    overflow-x: hidden;
    background-color: #030B1A;
}


main{
    padding-top: 60px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #030F27;
    z-index: 1000;
}

.navBarHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 40px 0px 20px;
}

.navBarHeader-2metade{
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

#logo{
    margin-top: 5px;
    margin-left: 5px;
    width: 4.2em;
}

.navBarHeader ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.navBarHeader li{
    background-color: rgba(217, 217, 217, 0.048);
    padding: 4px 10px;
    border-radius: 20px;
    transition: 0.2s;
}

.navBarHeader li:hover{
    background-color: rgba(217, 217, 217, 0.151);
}

.navBarHeader li>img{
    width: 30px;
    margin: 0px 5px 0px 0px;
    align-self: center;
    justify-self: center;
}

#imgHome{
    width: 20px;
    margin: 0px 7px 4px 0px;
}

#imgSobre{
    width: 24px;
}

.navBarHeader a{
    text-decoration: none;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.navBarHeader li{
    display: flex;
    align-items: center;
}

#iconPerfil{
    background-color: rgba(217, 217, 217, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 4px 7px 7px;
    border-radius: 50%;
    transition: 0.2s;
}

#linkPerfil{
    display: none;
}

#iconPerfil2{
    background-color: rgba(217, 217, 217, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px 10px 10px;
    border-radius: 50%;
    transition: 0.2s;
}

#iconPerfil2 img{
    width: 30px;
}

#iconPerfil2:hover{
    background-color: rgba(217, 217, 217, 0.151);
}

#iconPerfil:hover{
    background-color: rgba(217, 217, 217, 0.151);
}

#iconPerfil a{
    display: flex;
    justify-content: center;
    align-items: center;
}

#iconPerfil img{
    height: 1.7em;
}

}