*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: poppins;
    box-sizing: border-box;
}

@media (max-width: 1700px) {

html {
    scroll-behavior: smooth;
}  

body{
    overflow-x: hidden;
    background-color: #030B1A;
}


main{
    padding-top: 60px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #030F27;
    z-index: 1000;
}

.navBarHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 40px 0px 20px;
}

.navBarHeader-2metade{
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

#logo{
    margin-top: 5px;
    width: 4em;
}

.navBarHeader ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.navBarHeader li{
    background-color: rgba(217, 217, 217, 0.048);
    padding: 2px 8px;
    border-radius: 20px;
    transition: 0.2s;
}

.navBarHeader li:hover{
    background-color: rgba(217, 217, 217, 0.151);
}

.navBarHeader li>img{
    width: 20px;
    margin: 0px 5px 0px 0px;
    align-self: center;
    justify-self: center;
}

#imgHome{
    width: 15px;
    margin: 0px 7px 4px 0px;
}

#imgSobre{
    width: 18px;
}

.navBarHeader a{
    text-decoration: none;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.navBarHeader li{
    display: flex;
    align-items: center;
}

#iconPerfil{
    background-color: rgba(217, 217, 217, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 4px 7px 6px;
    border-radius: 50%;
    transition: 0.2s;
}

#iconPerfil:hover{
    background-color: rgba(217, 217, 217, 0.151);
}

#iconPerfil a{
    display: flex;
    justify-content: center;
    align-items: center;
}

#iconPerfil img{
    height: 1.7em;
}

}

/*PC full hd*/

@media (min-width: 1700px) {

html {
    scroll-behavior: smooth;
}  

body{
    overflow-x: hidden;
    background-color: #030B1A;
}


main{
    padding-top: 60px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #030F27;
    z-index: 1000;
}

.navBarHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 40px 0px 20px;
}

.navBarHeader-2metade{
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

#logo{
    margin-top: 5px;
    margin-left: 5px;
    width: 4.2em;
}

.navBarHeader ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.navBarHeader li{
    background-color: rgba(217, 217, 217, 0.048);
    padding: 4px 10px;
    border-radius: 20px;
    transition: 0.2s;
}

.navBarHeader li:hover{
    background-color: rgba(217, 217, 217, 0.151);
}

.navBarHeader li>img{
    width: 30px;
    margin: 0px 5px 0px 0px;
    align-self: center;
    justify-self: center;
}

#imgHome{
    width: 20px;
    margin: 0px 7px 4px 0px;
}

#imgSobre{
    width: 24px;
}

.navBarHeader a{
    text-decoration: none;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.navBarHeader li{
    display: flex;
    align-items: center;
}

#iconPerfil{
    background-color: rgba(217, 217, 217, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 4px 7px 6px;
    border-radius: 50%;
    transition: 0.2s;
}

#iconPerfil:hover{
    background-color: rgba(217, 217, 217, 0.151);
}

#iconPerfil a{
    display: flex;
    justify-content: center;
    align-items: center;
}

#iconPerfil img{
    height: 1.7em;
}

}