/*MAIN*/

main{
    background-image: url('../img/BackgroundHome.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1600px;
    margin-top: 70px; 
    display: flex;
    flex-direction: column;
}

/*sec-1*/
.titleStradia{
    height: 28%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.titleStradia div{
    width: 48%;
    padding-bottom: 30px;
}

.titleStradia h1{
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Poppins;
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: -35px;
}

.titleStradia h2{
    color: #0024B4;
    text-shadow: 0px 4px 6px rgba(0, 34, 255, 0.25);
    font-family: Poppins;
    font-size: 85px;
    font-weight: 600;
    margin-bottom: -15px;
    margin-left: -6px;
}

.titleStradia p{
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}

main .btns-login{
    display: flex;
    justify-content: flex-end;
    width: 330px;
    margin-top: 20px;
}

main .btn-title{
    width: 120px;
    height: 40px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 1em;
    border-radius: 20px;
}

main .btn-title img{
    width: 1.1em;
    margin-right: 0.5em;
}

main #btn-register{
    color: #02135B;
    cursor: pointer;
    transition: 0.2s;
}

#btn-register:hover{
    background-color: #02135B;
    color: white;
}

#btn-register img {
    transition: filter 0.2s;
    width: 1.5em;
}

#btn-register:hover img {
    filter: brightness(0) invert(1);
}

main #btn-login{
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #0124B4;
    cursor: pointer;
    transition: 0.2s;
}

#btn-login:hover{
    background-color: #000C3D;
}

/*sec-2*/
.sobreNos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;
    padding-top: 150px;
}

.sobreNos h1{
    margin-bottom: 40px;
    color: #0024B4;
    text-shadow: 0px 4px 6px rgba(0, 34, 255, 0.25);
    text-align: center;
    font-family: Poppins;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.sobreNos .text-sobrenos{
    display: flex;
    color: white;
}

.text-sobrenos p{
    font-weight: 200;
    margin: 10px 80px 0px 0px;
    text-align: justify;
}

#text-sobrenos-proposito{
    margin-top: 80px;
}

.sobreNos .arrow-sobrenos img{
    height: 40px;
}

.arrow-sobrenos{
    margin-left: 40px;
}

.sobreNos h2{
    height: 40px;
    vertical-align: center;
    font-weight: 400;
}