/*MAIN*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*Mobile*/
@media (max-width: 767px){
    main{
        background-color: aqua;
        height: 100vh;
        background-image: url('../img/BackgroundSuporte.png');
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        width: 100%;
        margin-top: 20px; 
        display: flex;
        flex-direction: column;
        background-color: #030b1a;
        align-items: center;
    }

    body{
        height: 100%;
    }

    html{
        height: 100%;
    }

    .back{
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
    }
    
    .back button{
        cursor: pointer;
        border-radius: 50%;
        background-color: #7885BE73;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 8px;
        transition: 0.2s;
    }
    
    .back button:hover{
        background-color: #162B83;
    }
    
    .back img{
        height: 28px;
        margin: 7px;
    }

    main h1{
        color: white;
        font-size: 28px;
        margin-top: 20px;
    }

    main h2{
        color: white;
        font-weight: 400;
        margin-bottom: 20px;
    }

    main>section{
        border-radius: 20px;
        background: #0F1F61;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
        width: 400px;
        height: 490px;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main>section textarea {
        border-radius: 20px;
        background: rgba(120, 133, 190, 0.45);
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
        width: 350px;
        height: 400px;
        flex-shrink: 0;
        padding: 20px 30px; 
        color: white;
        font-size: 16px;
        resize: none;
        border: none; 
        outline: none; 
        vertical-align: top;
        white-space: pre-wrap;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    main>section textarea::placeholder {
        vertical-align: top;
        color: rgba(255, 255, 255, 0.795);
    }

    input:focus{
        outline: none;
    }

    main>section button{
        color: #0124B4;
        padding: 5px 45px;
        font-weight: 500;
        border-radius: 20px;
        background: #FFF;
        margin: 10px;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        transition: 0.3s;
    }

    main>section button:hover{
        opacity: 0.5;
    }

    /*footer*/
    footer{
        margin-top: auto !important;
        margin-bottom: 20px !important;
    }

}


/*Tablets*/
@media (max-width: 1024px) and (min-width: 768px) {

    main{
        background-image: url('../img/BackgroundHome.png');
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        height: 1700px;
        width: 100%;
        margin-top: 70px; 
        display: flex;
        flex-direction: column;
    }



}


/*Pc hd*/
@media (max-width: 1700px) and (min-width: 1024px) {
    main {
        background-image: url('../img/BackgroundSuporte.png');
        background-size: cover; /* Ajusta sem distorção */
        background-position: center;
        background-repeat: no-repeat;
        min-height: 800px;
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    body{
        height: 100%;
    }
    html{
        height: 100%;
    }

    .back{
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
    }
    
    .back button{
        cursor: pointer;
        border-radius: 50%;
        background-color: #7885BE73;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 8px;
        transition: 0.2s;
    }
    
    .back button:hover{
        background-color: #162B83;
    }
    
    .back img{
        height: 28px;
        margin: 7px;
    }

    main h1{
        color: white;
        font-size: 40px;
    }

    main h2{
        color: white;
        font-weight: 400;
        margin-bottom: 40px;
    }

    main>section{
        border-radius: 20px;
        background: #0F1F61;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
        width: 800px;
        height: 490px;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main>section textarea {
    border-radius: 50px;
    background: rgba(120, 133, 190, 0.45);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
    width: 710px;
    height: 400px;
    flex-shrink: 0;
    padding: 20px 30px; /* Aumentei um pouco para melhor visualização */
    color: white;
    font-size: 16px;
    resize: none; /* Desabilita o redimensionamento */
    border: none; /* Remove a borda padrão */
    outline: none; /* Remove o contorno ao focar */
    /* Garante que o texto comece no topo e quebre linhas automaticamente */
    vertical-align: top;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    }

    /* Alinha o placeholder no topo */
    main>section textarea::placeholder {
        vertical-align: top;
    }

    input:focus{
        outline: none;
    }

    main>section button{
        color: #0124B4;
        padding: 5px 45px;
        font-weight: 500;
        border-radius: 20px;
        background: #FFF;
        margin: 10px;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        transition: 0.3s;
    }

    main>section button:hover{
        opacity: 0.5;
    }

    main>footer{
        justify-self: flex-end !important;
        margin-top: 120px;
    }
}


/*Pc full hd*/
@media (min-width: 1700px) {
    main {
        background-image: url('../img/BackgroundSuporte.png');
        background-size: cover; /* Ajusta sem distorção */
        background-position: center;
        background-repeat: no-repeat;
        height: 1080px;
        width: 100%;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    body{
        height: 1080px;
    }
    html{
        height: 1080px;
    }

    .back{
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
    }
    
    .back button{
        cursor: pointer;
        border-radius: 50%;
        background-color: #7885BE73;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 8px;
        transition: 0.2s;
    }
    
    .back button:hover{
        background-color: #162B83;
    }
    
    .back img{
        height: 28px;
        margin: 7px;
    }

    main h1{
        color: white;
        font-size: 40px;
    }

    main h2{
        color: white;
        font-weight: 400;
        margin-bottom: 30px;
    }

    main>section{
        border-radius: 20px;
        background: #0F1F61;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
        width: 800px;
        height: 490px;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main>section textarea {
    border-radius: 50px;
    background: rgba(120, 133, 190, 0.45);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
    width: 710px;
    height: 360px;
    flex-shrink: 0;
    padding: 20px 30px; /* Aumentei um pouco para melhor visualização */
    color: white;
    font-size: 16px;
    resize: none; /* Desabilita o redimensionamento */
    border: none; /* Remove a borda padrão */
    outline: none; /* Remove o contorno ao focar */
    /* Garante que o texto comece no topo e quebre linhas automaticamente */
    vertical-align: top;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    }

    /* Alinha o placeholder no topo */
    main>section textarea::placeholder {
        vertical-align: top;
    }

    input:focus{
        outline: none;
    }

    main>section button{
        color: #0124B4;
        padding: 5px 45px;
        font-weight: 500;
        border-radius: 20px;
        background: #FFF;
        margin-top: 30px;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        transition: 0.3s;
    }

    main>section button:hover{
        opacity: 0.5;
    }

    main>footer{
        justify-self: flex-end !important;
        justify-content: flex-end;
        margin-top: 300px;
    }
}