h1{
    text-align: center;
    font-size: 25px;
    font-weight: 400;
}

section{
    width: 500px !important;
    display: flex;
    flex-direction: column;
    align-items: center !important;
}

section img{
    width: 80px;
    margin: 20px 0px 10px 0px;
}